<nav class="navbar navbar-expand-lg navbar-primary bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand ms-3" href="#">
          <img src="logo.png" width="80px" height="45px" alt="">
        </a>
      <button class="btn" (click)="toggleSidebar()">
        <i class="fa-solid fa-bars" style="color: #ffffff;"></i> <!-- Bootstrap Icon for Sidebar Toggle -->
      </button>
     
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#" style="color: #ffffff;">
              <i class="bi bi-person-circle" style="color: #ffffff;"></i> Admin <!-- Icon for Profile -->
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" style="color: #ffffff;">
              <i class="bi bi-box-arrow-right" style="color: #ffffff;"></i> Logout <!-- Icon for Logout -->
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  